In [55]:
from concurrent.futures.thread import _threads_queues
from doctest import DocTestParser
import pandas as pd
df = pd.read_csv('test_res.txt',sep='\t',dtype=str)
pred_list = df['pred'].to_list()
true_list = df['label'].to_list()
# len(true_list)

1000

In [56]:
num_classes = 54
labels = []
X = [0] * num_classes
Y = [0] * num_classes
Z = [0] * num_classes

for i in range(0, num_classes):
		labels.append(str(i))

for i,pred in enumerate(pred_list):
    true = true_list[i]
    for m in range(len(labels)):
        tmp = labels[m]
        # 当前类别同时满足 在当前数据的pred 和true，即为TP
        if tmp == pred and tmp == true:
            # TP
            X[m] = X[m] + 1
        # 当前类别在预测数据当中，即为TP+FP
        if tmp == pred:
            # TP+FP
            Y[m] = Y[m] + 1
        # 当前数据在真实数据当中为TP+FN
        if tmp == true:
            # TP+FN
            Z[m] = Z[m] + 1

In [57]:
with open('result0816.txt',encoding='utf-8',mode='w') as fout:
    for n in range(len(labels)):
        if Z[n] == 0 or Y[n] == 0:
            print(n + 1, X[n], Y[n], Z[n])
            fout.write('class: %s,X:%d,Y:%d,Z:%d\n' % (str(n), X[n], Y[n], Z[n]))
            continue
        f1, precision, recall = 2 * X[n] / (Y[n] + Z[n]), X[n] / Y[n], X[n] / Z[n]
        fout.write('class: %s,X:%d,Y,%d,Z:%d,f1: %.5f, precision: %.5f, recall: %.5f\n' % (
            str(n), X[n], Y[n], Z[n], f1, precision, recall))
        print('class: %s,X:%d,Y,%d,Z:%d,f1: %.5f, precision: %.5f, recall: %.5f\n' % (
            str(n), X[n], Y[n], Z[n], f1, precision, recall))
    # label = "339"
    f1, precision, recall = 2 * sum(X) / (sum(Y) + sum(Z)), sum(X) / sum(Y), sum(X) / sum(Z)
    fout.write('total: %s,X:%d,Y,%d,Z:%d,f1: %.5f, precision: %.5f, recall: %.5f\n' % (
        "total", sum(X), sum(Y), sum(Z), f1, precision, recall))

    # 实体四大类计算
    x_4 = X[7] + X[8] + X[9] + X[14] + X[15]
    y_4 = Y[7] + Y[8] + Y[9] + Y[14] + Y[15]
    z_4 = Z[7] + Z[8] + Z[9] + Z[14] + Z[15]
    # if not new_model:
    #     x_4 += X[16]
    #     y_4 += Y[16]
    #     z_4 += Z[16]
    f1_4, precision_4, recall_4 = 2 * x_4 / (y_4 + z_4), x_4 / y_4, x_4 / z_4
    print('四大类: %s,X:%d,Y,%d,Z:%d,f1: %.5f, precision: %.5f, recall: %.5f\n' % (
        "total", x_4, y_4, z_4, f1_4, precision_4, recall_4))
    print('total: %s,X:%d,Y,%d,Z:%d,f1: %.5f, precision: %.5f, recall: %.5f' % (
        "total", sum(X), sum(Y), sum(Z), f1, precision, recall))
    fout.write('四大类: %s,X:%d,Y,%d,Z:%d,f1: %.5f, precision: %.5f, recall: %.5f\n' % (
        "total", x_4, y_4, z_4, f1_4, precision_4, recall_4))

class: 0,X:1,Y,3,Z:4,f1: 0.28571, precision: 0.33333, recall: 0.25000

class: 1,X:3,Y,6,Z:7,f1: 0.46154, precision: 0.50000, recall: 0.42857

class: 2,X:1,Y,1,Z:3,f1: 0.50000, precision: 1.00000, recall: 0.33333

4 0 0 0
5 0 0 0
class: 5,X:2,Y,4,Z:28,f1: 0.12500, precision: 0.50000, recall: 0.07143

class: 6,X:0,Y,7,Z:4,f1: 0.00000, precision: 0.00000, recall: 0.00000

class: 7,X:9,Y,13,Z:18,f1: 0.58065, precision: 0.69231, recall: 0.50000

class: 8,X:1,Y,4,Z:1,f1: 0.40000, precision: 0.25000, recall: 1.00000

class: 9,X:185,Y,257,Z:217,f1: 0.78059, precision: 0.71984, recall: 0.85253

class: 10,X:2,Y,2,Z:4,f1: 0.66667, precision: 1.00000, recall: 0.50000

12 0 0 0
13 0 0 0
14 0 0 0
class: 14,X:227,Y,249,Z:263,f1: 0.88672, precision: 0.91165, recall: 0.86312

class: 15,X:332,Y,405,Z:372,f1: 0.85457, precision: 0.81975, recall: 0.89247

17 0 0 4
class: 17,X:3,Y,9,Z:6,f1: 0.40000, precision: 0.33333, recall: 0.50000

19 0 0 4
class: 19,X:2,Y,5,Z:23,f1: 0.14286, precision: 0.40000, recall: 0.08696

21 0 0 0
22 0 0 0
23 0 0 0
class: 23,X:3,Y,3,Z:5,f1: 0.75000, precision: 1.00000, recall: 0.60000

25 0 0 0
26 0 0 0
class: 26,X:1,Y,1,Z:2,f1: 0.66667, precision: 1.00000, recall: 0.50000

28 0 0 0
29 0 0 0
30 0 0 1
31 0 0 9
class: 31,X:1,Y,16,Z:1,f1: 0.11765, precision: 0.06250, recall: 1.00000

33 0 0 1
34 0 1 0
35 0 0 1
36 0 0 0
class: 36,X:6,Y,10,Z:6,f1: 0.75000, precision: 0.60000, recall: 1.00000

38 0 0 0
39 0 0 0
40 0 0 0
41 0 0 0
42 0 0 0
43 0 0 0
44 0 0 2
45 0 2 0
46 0 0 0
47 0 0 0
class: 47,X:0,Y,1,Z:1,f1: 0.00000, precision: 0.00000, recall: 0.00000

49 0 0 0
50 0 1 0
51 0 0 1
52 0 0 0
53 0 0 0
54 0 0 12
四大类: total,X:754,Y,928,Z:871,f1: 0.83824, precision: 0.81250, recall: 0.86567

total: total,X:779,Y,1000,Z:1000,f1: 0.77900, precision: 0.77900, recall: 0.77900

1

## 添加实体名称

In [9]:
# entity
import pandas as pd
max_seg_word = '###'
min_seg_word = '$$$'

df = pd.read_csv('entity/train_data.txt',sep='\t',dtype=str,names = ['query','entity','label'])
df_query = df['query']
df_entity = df['entity']
# for entity in entity_list:
#     entity_token = []
#     for s in entity.split(max_seg_word):
#         for c in s.split(min_seg_word):
#             token
tmp_df = df['entity'].str.split(max_seg_word,expand=True)
tmp_df

,0,1,2,3
0,none$$$none$$$none,none$$$none$$$none,兰德酷路泽$$$宋plus$$$none,none$$$none$$$none$$$none$$$none
1,none$$$none$$$none,none$$$none$$$none,none$$$none$$$none,none$$$none$$$none$$$none$$$none
2,none$$$none$$$none,none$$$none$$$none,none$$$none$$$none,途昂@@@2022款 530 v6 四驱尊崇豪华版$$$途昂@@@2022款 530 v6 ...
3,奇瑞汽车$$$none$$$none,奇瑞$$$none$$$none,瑞虎7 plus$$$none$$$none,none$$$none$$$none$$$none$$$none
4,丰田(进口)$$$none$$$none,丰田$$$none$$$none,卡罗拉cross(进口)$$$none$$$none,none$$$none$$$none$$$none$$$none
...,...,...,...,...
69734,none$$$none$$$none,none$$$none$$$none,御捷e驰$$$none$$$none,none$$$none$$$none$$$none$$$none
69735,none$$$none$$$none,日产$$$none$$$none,天籁$$$none$$$none,none$$$none$$$none$$$none$$$none
69736,none$$$none$$$none,奔驰$$$none$$$none,奔驰c级amg$$$none$$$none,none$$$none$$$none$$$none$$$none
69737,none$$$none$$$none,none$$$none$$$none,奥迪a6l$$$none$$$none,奥迪a6l@@@2023款 40 tfsi 豪华致雅型$$$奥迪a6l@@@2023款 40...
69738,none$$$none$$$none,英菲尼迪$$$none$$$none,英菲尼迪q60$$$none$$$none,none$$$none$$$none$$$none$$$none

In [10]:
tmp_df[0].str.split('$$$',expand=True)
res_final = []
for i in range(4):
    tem_res = []
    li = tmp_df[i].tolist()
    for i in li:
        res = i.split(min_seg_word)
        str_res = ''.join(res)
        tem_res.append(str_res)
    res_final.append(tem_res)
df['sep1'] = pd.Series(res_final[0])
df['sep2'] = pd.Series(res_final[1])
df['sep3'] = pd.Series(res_final[2])
df['sep4'] = pd.Series(res_final[3])

In [11]:
# df = pd.read_csv('entity/train_data.txt',sep='\t',dtype=str,names = ['query','label'])
def replace_none(x):
    x = x.replace('none','')
    return x
tmp_df = df['sep1'].str.cat(df['sep2'])
tmp_df = tmp_df.str.cat(df['sep3'])
df['entity_final'] = tmp_df.str.cat(df['sep4'])
df['entity_final'] = df['entity_final'].apply(replace_none)
df['entity_final']

0                                               兰德酷路泽宋plus
1
2        途昂@@@2022款 530 v6 四驱尊崇豪华版途昂@@@2022款 530 v6 四驱尊...
3                                           奇瑞汽车奇瑞瑞虎7 plus
4                                     丰田(进口)丰田卡罗拉cross(进口)
                               ...
69734                                                 御捷e驰
69735                                                 日产天籁
69736                                            奔驰奔驰c级amg
69737    奥迪a6l奥迪a6l@@@2023款 40 tfsi 豪华致雅型奥迪a6l@@@2023款 ...
69738                                          英菲尼迪英菲尼迪q60
Name: entity_final, Length: 69739, dtype: object

In [16]:
# 计算实体数据为空的比例
none_num=(df['entity_final']=='').sum()
none_num/df.shape[0]

0.17912502330116578

In [12]:
df['query_final'] = df['query'].str.cat(df['entity_final'],sep='[SEP]')
df['query_final']

0                                 巡洋舰和宋plus[SEP]兰德酷路泽宋plus
1                                               dctk3[SEP]
2        530 v6teramont[SEP]途昂@@@2022款 530 v6 四驱尊崇豪华版途昂...
3                          瑞虎7 plus奇瑞汽车[SEP]奇瑞汽车奇瑞瑞虎7 plus
4             丰田(进口) 卡罗拉cross(进口)[SEP]丰田(进口)丰田卡罗拉cross(进口)
                               ...
69734                                   御捷新能源朋克汽车[SEP]御捷e驰
69735                                      日产天籁jk[SEP]日产天籁
69736                       梅赛德斯-amg 奔驰c级amg[SEP]奔驰奔驰c级amg
69737    a6l40加装电尾门多少钱[SEP]奥迪a6l奥迪a6l@@@2023款 40 tfsi 豪...
69738                     英菲尼迪q60 英菲尼迪(进口)[SEP]英菲尼迪英菲尼迪q60
Name: query_final, Length: 69739, dtype: object

In [13]:
df[['query_final','label']].to_csv('entity/train_data_entity_del_none.txt',index=None,header=None,sep='\t')

## 添加实体名2

In [21]:
import pandas as pd
df2 = pd.read_csv('entity/test_data_one_label_entity.txt',sep='\t',dtype=str,names = ['query','entity','label'])
df2

             query                                             entity label
0            s90t8  none$$$none$$$none###none$$$none$$$none###沃尔沃s...    15
1            奔驰23款  none$$$none$$$none###奔驰$$$none$$$none###none$$...    14
2         2022款rav  none$$$none$$$none###none$$$none$$$none###rav4...    14
3    奔驰gle350e油电混合  none$$$none$$$none###奔驰$$$none$$$none###奔驰gle$...    15
4            12年q5  none$$$none$$$none###none$$$none$$$none###奥迪q5...    14
..             ...                                                ...   ...
995       2015p帕萨特  none$$$none$$$none###none$$$none$$$none###帕萨特$...    14
996           大众大众  none$$$none$$$none###大众$$$none$$$none###none$$...     7
997        18年路虎揽胜  none$$$none$$$none###路虎$$$none$$$none###揽胜$$$n...    14
998       gls350猎装  none$$$none$$$none###none$$$none$$$none###奔驰gl...    15
999        cls6308  none$$$none$$$none###none$$$none$$$none###none...    14

[1000 rows x 3 columns]

In [22]:
def data_replace(x):
    x = x.replace('$$$','[unused12]')
    x = x.replace('###','[unused11]')
    return x
# df2['entity'] = df2['entity'].str.replace('$$$','[unused13]')
df2['entity'] = df2['entity'].apply(data_replace)
df2['entity']

0      none[unused12]none[unused12]none[unused11]none...
1      none[unused12]none[unused12]none[unused11]奔驰[u...
2      none[unused12]none[unused12]none[unused11]none...
3      none[unused12]none[unused12]none[unused11]奔驰[u...
4      none[unused12]none[unused12]none[unused11]none...
                             ...
995    none[unused12]none[unused12]none[unused11]none...
996    none[unused12]none[unused12]none[unused11]大众[u...
997    none[unused12]none[unused12]none[unused11]路虎[u...
998    none[unused12]none[unused12]none[unused11]none...
999    none[unused12]none[unused12]none[unused11]none...
Name: entity, Length: 1000, dtype: object

In [24]:
df2['query_'] = df2['query']+'[SEP]'
df2['query_']

0              s90t8[SEP]
1              奔驰23款[SEP]
2           2022款rav[SEP]
3      奔驰gle350e油电混合[SEP]
4              12年q5[SEP]
              ...
995         2015p帕萨特[SEP]
996             大众大众[SEP]
997          18年路虎揽胜[SEP]
998         gls350猎装[SEP]
999          cls6308[SEP]
Name: query_, Length: 1000, dtype: object

In [25]:
df2['res'] = df2['query_']+df2['entity']
df2[['res','label']].to_csv('entity/test_entity_0818.txt',index=None,header=None,sep='\t')

### 实体combine

In [7]:
df

,query,entity,label
0,巡洋舰和宋plus,none$$$none$$$none###none$$$none$$$none###兰德酷路...,16
1,dctk3,none$$$none$$$none###none$$$none$$$none###none...,15
2,530 v6teramont,none$$$none$$$none###none$$$none$$$none###none...,15
3,瑞虎7 plus奇瑞汽车,奇瑞汽车$$$none$$$none###奇瑞$$$none$$$none###瑞虎7 pl...,9
4,丰田(进口) 卡罗拉cross(进口),丰田(进口)$$$none$$$none###丰田$$$none$$$none###卡罗拉c...,9
...,...,...,...
69734,御捷新能源朋克汽车,none$$$none$$$none###none$$$none$$$none###御捷e驰...,7
69735,日产天籁jk,none$$$none$$$none###日产$$$none$$$none###天籁$$$n...,15
69736,梅赛德斯-amg 奔驰c级amg,none$$$none$$$none###奔驰$$$none$$$none###奔驰c级am...,9
69737,a6l40加装电尾门多少钱,none$$$none$$$none###none$$$none$$$none###奥迪a6...,32
69738,英菲尼迪q60 英菲尼迪(进口),none$$$none$$$none###英菲尼迪$$$none$$$none###英菲尼迪...,9

In [17]:

def data_str(x):
    if x.count('none')==3:
        return 'none'
    else:
        str_list = [item for item in x.split('$$$') if item !='none']
        final_str = '[unused12]'.join(str_list)
        return final_str
df['tmp0'] = tmp_df[0].apply(data_str)
df['tmp1'] = tmp_df[1].apply(data_str)
df['tmp2'] = tmp_df[2].apply(data_str)
df['tmp3'] = tmp_df[3].apply(data_str)
df['res2'] = df['query']+'[SEP]'+df['tmp0']+'[unused11]'+df['tmp1']+'[unused11]'+df['tmp2']+'[unused11]'+df['tmp3']
df[['res2','label']].to_csv('entity/test_entity_0818_combine.txt',index=None,header=None,sep='\t')

In [ ]:
tmp_df_1 = tmp_df[0].apply(data_str)